a {
    color: 000000;
margin: 5px;
}

a:hover {
color: rgb(80,80,255);
}

#ui {
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    background-color: rgb(200, 200, 200);
    z-index: 1;
}

.container {
    position: relative;
}